
body{
   background-color:lighblue;
   padding-top: 70px;
}

.logo{
     font-family: 'Monoton',cursive;
     font-size: 100px;
     padding: 250px 10px 100px 10px;
     font-weight: bold;
     font-variant: small-caps;
 }
 
 /*.logo-name{*/
     /*font-size: 30px;*/
 /*    font-weight: bold;*/
    
 /*}*/
 
 .nav{
  font-family: 'Germania One',cursive;  
  
}
.navbar-default {
   background-color:#539BD6;
    border-color: #E7E7E7;
}
.container{
    padding: 30px;
    margin:10px;
}
.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}

footer {
          padding-top: 5px;
          text-align: center;
          height: 100px;
}

.img{
  width:100%;  
  height: auto;
}
h2{
    font-family: 'Nosifer',cursive;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

h3{
    font-family: 'Germania One',cursive;
    color:black;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow: inherit;
}
p{
  font-family: 'Germania One',cursive;
  font-size: 20px;
}

.box {
    margin-right: 10px;
    padding-top: 10px;
}

