
body {
  background-image:url("img/img6.jpg");
  background-size: cover;
 }
 
 .logo{
     font-family: 'Nosifer',cursive;
     font-size: 100px;
     padding: 250px 10px 100px 10px;
     font-weight: bold;
     font-variant: small-caps;
     text-decoration: none;
 }
 
 
 
 .nav{
  font-family: 'Germania One',cursive;        
}


h3{
    font-family: 'Nosifer',cursive;
    text-decoration: none;
    font-weight: bolder;
}

.footer {
          padding-top: 30px;
          background-color: #eee;
          text-align:center;
          height:100px;
}
